# Rellena con tus llaves de Stripe (sandbox)
STRIPE_SECRET_KEY=sk_test_TU_CLAVE_SECRETA_AQUI
STRIPE_PUBLIC_KEY=pk_test_TU_CLAVE_PUBLICAQUI

# PayPal Sandbox
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

# Mercado Pago (sandbox/app access token)
MERCADOPAGO_ACCESS_TOKEN=
